<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mentalgym">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MentalGym">
        <activity
            android:name=".WordScrambleLevelsRecycler"
            android:exported="false" />
        <activity
            android:name=".MemoryCardsLevelH"
            android:exported="false" />
        <activity
            android:name=".MemoryCardsLevelE"
            android:exported="false" />
        <activity
            android:name=".MemoryCardsLevels"
            android:exported="false" />
        <activity
            android:name=".WordScramblelvl3"
            android:exported="false" />
        <activity
            android:name=".MemoryCardsLevelM"
            android:exported="false" />
        <activity
            android:name=".WordScramblelvl2"
            android:exported="false" />
        <activity
            android:name=".WSSlvl1"
            android:exported="false" />
        <activity
            android:name=".WorldScrambelvl1"
            android:exported="false" />
        <activity
            android:name=".CryptogrammeLevels"
            android:exported="false" />
        <activity
            android:name=".CryptogrammeMenu"
            android:exported="false" />
        <activity
            android:name=".WorScrambleLevels"
            android:exported="false" />
        <activity
            android:name=".MemoryCards"
            android:exported="false" />
        <activity
            android:name=".CryptogrammeGame"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Cryptogramme" />
        <activity android:name=".WordScramble" />
        <activity android:name=".GameSelect" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>